body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

svg{
    width: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -16px;
}

.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px rgb(63, 30, 30));
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2{
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button{
    background-color: cornflowerblue;
    color: azure;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.cartTab{
    width: 400px;
    background-color: #492828;
    color: white;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab{
     inset: 0 0 0 auto;
}

body.showCart .container{
    transform: translateX(-250px);
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: #694747;
    color: white;
    border: 1px solid #492828;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close{
    background-color: rgb(255, 255, 255);
    color: #492828;
}

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: #492828;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: white;
}

.listCart .item:nth-child(even){
    background-color: #ffffff;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}