@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Changa+One&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Notch:wght@200..700&display=swap');

body {
  margin: 0;
  background-color: #161616;
  color: #EDE0D4;
  overflow-x: hidden;  
  font-family: "Poppins", sans-serif;
}

/* =========================
   CUSTOM SCROLLBAR
========================= */
::-webkit-scrollbar{
  display: none;
}

/* =========================
   HEADER NAV
========================= */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000; /* ensures it stays on top */
  background-color: #00000077;
  backdrop-filter: blur(8px);
  color: #EDE0D4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px #00000040;
}

header h1{
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #F5EDE8;
  margin: 0 40px;
}

.navbar{
  background-color: #4747478a;
  padding: 16px 50px;
  border-radius: 30px;
}

.navbar a {
  font-family: "Momo Trust Display", sans-serif;
  font-size: small;
  font-weight: 400;
  font-style: normal;
  color: #EDE0D4;
  text-decoration: none;
  transition: 0.3s ease;
  padding: 10px;
}

.navbar a:hover {
  color: #ff6600;
  text-shadow: 4px 4px 100px #ff6600;
}

/* =========================
   CART ICON
========================= */
.cart-icon {
  cursor: pointer;
  position: relative;
}

.cart-icon i {
  font-size: 28px; 
  color: #ffffff;
  margin: 0 60px;
  filter: brightness(0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}

.cart-icon i:hover {
  transform: scale(1.2);
  color: #ff6600;
}

.cart-count {
  position: absolute;
  right: 50px;
  top: -5px;
  color: #ff000000;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.cart-icon:hover .cart-count {
  transform: scale(1.2);
}

/* =========================
   MAIN DASHBOARD
========================= */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(Icons/bg3.jpg) no-repeat center center;
  background-size: cover;
  padding: 110px 70px 80px;
  gap: 30px;
}

/* =========================
   PROD CAROUSEL
========================= */
.carousel {
  width: 34%;
  height: 80%;  
  display: flex;
  overflow: hidden;
  gap: 2em;
  box-shadow: 0 8px 20px #ffffffab;
  background-color: #0000007e;
  border-radius: 20px;
}

.group {
  display: flex;
  align-items: center;
  gap: 1em;
  animation: scrollLoop 20s linear infinite;
}

/* Pause scroll on hover */
.carousel:hover .group {
  animation-play-state: paused;
}

.Ccrls {
  flex: 0 0 auto;
  width: 300px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #3a2b2b31;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Ccrls:hover {
  box-shadow: 0 6px 14px #00000059;
  z-index: 1;
}

.Ccrls img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.Ccrls:hover img {
  transform: scale(1.08);
}

.ads{
  width: 55%;
}

.ads h1 {
  margin: 0%;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-size: 80px;
  color: #ffffffea;
  text-shadow: 2px 2px 4px #00000080;
}

.ads p {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: #ffffffea;
  text-shadow: 2px 2px 4px #00000080;
}


/* =========================
   FOOD CATEGORY
========================= */
.foodcat {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #160b0b;
  padding: 15px 0;
  box-shadow: 0 0 10px #241212;
}

.foodcat a {
  color: #EDE0D4;
  text-decoration: none;
  margin: 10px 20px;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 8px 14px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.foodcat a:hover {
  background: #ff9a36;
  color: #ffffff;
}

/* =========================
   CART
========================= */
#cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 340px;
  background: #242323d3;
  box-shadow: -4px 0 15px #000000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

#cart.active {
  transform: translateX(0);
}

#cart h2 {
  padding: 10px 0 10px;
  margin: 15px;
  border-radius: 30px;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  background: #4d3838f5;
  color: #ffffff;
  text-align: center;
}

/* ===== CART CONTENT ===== */
.cartProd {
  flex: 1;
  padding: 20px;
  scrollbar-width: none;
}

#cartItems {
  height: 70%;
  overflow-y: auto;
}

.Ctems {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #1a1a1a42;
}

.Ctems .name, .price, .quantity {
  padding: 10px;
  font-size: 0.8em;
}

.remove-item {
  background: #3A2B2B;
  color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  margin-top: 7px;
  transition: 0.3s;
}

.remove-item:hover {
  background: #D4A373;
  color: #1C1C1C;
}

/* ===== CART SUMMARY ===== */
.cart-summary p {
  font-weight: bold;
  font-size: 1.1rem;
  color: #EDE0D4;
  margin-bottom: 15px;
  padding: 15px;
  border-top: 2px solid #3A2B2B;
  padding: 20px;
}

.cart-summary span {
  float: right;
}

/* ===== CART BUTTONS ===== */
#cart button {
  background: #3A2B2B;
  color: #EDE0D4;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}

#cart button:hover {
  background: #D4A373;
  color: #1C1C1C;
}

#cart .cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  gap: 5px;
}

/* =========================
   WRAPPER & CARD
========================= */
.category-title {
  width: 30%;
  margin: 20px auto;
  text-align: center;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  background-color: #160b0bbd;
  color: #d8cbcb;
  border-radius: 10px;
  box-shadow: 0 0 10px #92737380;
}

.wrapper {
  display: flex;
  margin: 20px;
  gap: 10px;
  justify-content: center;
}

.card {
  width: 20%;
  height: 360px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover{
  transform: scale(1.05);
}

.card:nth-child(1):hover { box-shadow: 0 10px 12px #3cff007c; }
.card:nth-child(2):hover { box-shadow: 0 10px 12px #c2814585; }
.card:nth-child(3):hover { box-shadow: 0 10px 12px #9e633394; }
.card:nth-child(4):hover { box-shadow: 0 10px 12px #ff578988; }
.card:nth-child(5):hover { box-shadow: 0 10px 12px #271b15a6; }

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:nth-child(1)::before { background: linear-gradient(to bottom, #a8e06375, #56ab2fc2); }
.card:nth-child(2)::before { background: linear-gradient(to bottom, #cfa77e62, #8b5e34c0); }
.card:nth-child(3)::before { background: linear-gradient(to bottom, #d4a3736b, #6b4323b7); }
.card:nth-child(4)::before { background: linear-gradient(to bottom, #af666881, #ca466ebd); }
.card:nth-child(5)::before { background: linear-gradient(to bottom, #65432180, #3c2a21c0); }

.card:hover::before {
  opacity: 1;
}

.card .info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  color: #ffffff;
  z-index: 3;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.3;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0);
}

/* =========================
   FOOD PRODUCT ITEMS
========================= */
.menuM {
  display: flex;
  flex-wrap: wrap;        /* wrap to new line if needed */
  gap: 20px;
  margin: 0;
  padding: 20px;
}
.sub-details h3 {
  margin: 0;
  padding: 0;
}

.food-Items {
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 15px #ff0000;
  transition: 0.2s ease-in-out;
  flex: 1 1 250px; /* make all items same width (min-width 250px, flexible) */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-Items:hover{
  background-color: #D4A373;
  color: #F5EDE8;
  transform: scale(1.05);
}

.food-Items img {
  width: 100%;
  max-height: 250px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.details {
  padding: 10px 15px 15px;
  display: grid;
}

.sub-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details p {
  text-align: left;
  margin-top: 8px;
}

.details .add-btn {
  padding: 15px 20px;
  background-color: #6d4747;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #F5EDE8;
}

.sub-details .price{
  font-size: medium;
  text-shadow: 0 0 12px #ff0000;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 20px;
}

#icedcoffee,
#hotcoffee,
#noncoffee,
#milktea,
#fruitseries,
#frappe,
#snacks,
#meals{
  padding: 50px 0 50px;
}


/* ===== LOOPING ANIMATION ===== */
@keyframes scrollLoop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .card { width: 300px; height: 200px; }
}

@media (max-width: 480px) {
  .card { width: 220px; height: 150px; }
  .product-grid { padding: 0 15px; }
  .navbar, .foodcat { flex-direction: column; }
}
